"/Users/oliverjames/Desktop/Projects/Azure Speech Project/project_overview.txt"
"/Users/oliverjames/Desktop/Projects/Azure Speech Project/Terminal Demo Azure Speech Final.mov"
"/Users/oliverjames/Desktop/Projects/Azure Speech Project/Streamlit Azure Speech Demo Final.mov"
"/Users/oliverjames/Desktop/Projects/Azure Speech Project/__pycache__"


